/**
 * style.css
 * Custom style for the app in general.
 */

.brand-image {
  max-width: 100%;
  width    : auto;
}

.language-toggle {
  font-family : Aileron;
  font-size   : x-large;
  font-weight : normal;
  margin-right: 20px;
}

.language-toggle>button {
  background-color: transparent;
  border          : none;
}

.language-toggle>button:hover {
  text-decoration: underline;
}

.logo-text {
  font-family: Aileron;
  font-size  : xx-large;
  font-weight: bold;
  margin-left: 20px;
  text-align : left;
}

.logo-text>.logo-subtitle {
  font-size  : large;
  font-weight: normal;
}

.social-footer {
  text-align: center;
}

.social-footer>a>.social-icon {
  height: 96px;
  width : 96px;
}

.subscription {
  font-family: Aileron;
  margin-left: 20px;
  text-align: center;
}

.subscription>div>button {
  border-radius: 25px;
  font-size: large;
  width: 40%;
}

.subscription>div>input {
  border-radius: 25px;
  font-size: large;
  margin-left: 10%;
  margin-right: -10%;
  width: 50%;
}

.subscription>div>.stay-tuned {
  font-size: xx-large;
}

.subscription>div>.stay-tuned>.launch-date{
  font-weight: bold;
}

/** Add style for screen smaller then 576. */
@media screen and (max-width: 576px) {
  .language-toggle {
    font-size   : x-small;
    margin-right: 10px;
  }

  .logo-text {
    font-size  : small;
    margin-left: 10px;
  }

  .logo-text>.logo-subtitle {
    font-size: xx-small;
  }

  .social-footer>a>.social-icon {
    height: 32px;
    width : 32px;
  }

  .subscription {
    margin-left: 10px;
  }

  .subscription>div>button {
    font-size: xx-small;
  }
  
  .subscription>div>input {
    font-size: xx-small;
  }
  
  .subscription>div>.stay-tuned {
    font-size: small;
  }
}

/** Add style for screen smaller then 992. */
@media screen and (max-width: 992px) {
  .language-toggle {
    font-size   : medium;
    margin-right: 15px;
  }

  .logo-text {
    font-size  : large;
    margin-left: 15px;
  }

  .logo-text>.logo-subtitle {
    font-size: small;
  }

  .social-footer>a>.social-icon {
    height: 64px;
    width : 64px;
  }

  .subscription {
    margin-left: 15px;
  }

  .subscription>div>button {
    font-size: small;
  }
  
  .subscription>div>input {
    font-size: small;
  }

  .subscription>div>.stay-tuned {
    font-size: large;
  }
}